
	
<div>
	
	<div style="border: solid 1px; padding: 8px;position:fixed;top:0px; width:100%;background-color:white;z-index:999">

		<a href ="/user/userhome" style="margin-left: 50px;margin-right:20px">Home</a>
		<a href ="/team" style="margin-right:20px">Team</a>

		<a href ="/logout" style="float:right; margin-right:20px">Log Out</a>
		

	</div>
	
	
	<a  href = "/user/userhome" style=""><img src="/imgs/logo.png" alt="Logo" style="position:fixed;top:1px;left:1px;height:34px;z-index:1000"></a>

	<div style="margin-left:2%;margin-right:10%;margin-top:20px;padding:20px">
		<p><strong><font size = "8">Admin Page</font></strong></p>
	</div>
	
	
	<div style="margin-left:5%;margin-right:10%;margin-top:20px;padding:20px;float:left" >
		<p><font size="6"><strong>All Transactions</strong></font></p>
		<div style="width:500px;height:400px;line-height:3em;overflow:auto;padding:5px;border: 1px solid black;;LINE-HEIGHT:20px"> 
		<ul >
		{{#if findcharity}}

			
			{{#each fff}}
			<li>
			<strong>Date:</strong> {{created_at_year}}-{{created_at_month}}-{{created_at_date}}<br/>
				<strong>Charity ID: </strong> {{charity_id}}<br/>
				<strong>User ID: </strong> {{user_id}}<br/>
					<strong>Website: </strong> {{website}}<br/>
					<strong>Donation: </strong>${{total}}<br><br>
				
			</li>
			{{/each}}
		{{else if finduser}}
			{{#each hhh}}
			<li>
			<strong>Date:</strong> {{created_at_year}}-{{created_at_month}}-{{created_at_date}}<br/>
				<strong>Charity ID: </strong> {{charity_id}}<br/>
				<strong>User ID: </strong> {{user_id}}<br/>
				<strong>Website: </strong> {{website}}<br/>
				<strong>Donation: </strong>${{total}}<br><br>
				
			</li>
			{{/each}}


		{{else}}
		{{#each translist}}
		<li>
		<strong>Date:</strong> {{created_at_year}}-{{created_at_month}}-{{created_at_date}}<br/>
				<strong>Charity ID: </strong> {{charity_id}}<br/>
				<strong>User ID: </strong> {{user_id}}<br/>
				<strong>Website: </strong> {{website}}<br/>
				<strong>Donation: </strong>${{total}}<br><br>
				
			</li>
		{{/each}}
		{{/if}}
		</ul>
		</div>
	</div>
	
	
	
	<div style="margin-left:5%;margin-right:10%;margin-top:100px;padding:20px">
		<span style="color:red">{{message}}</span>
		<h4>Search for Transactions</h4>
		<form method="post" action="/admin/findcharity">
		Charity Name: <input type="text" name="charity"> <br>
		<button>Search Charity</button>
		</form><br>
		<form method="post" action="/admin/finduser">
			User Name: <input type="text" name="username"> <br>
		
		<button>Search User</button>
		</form>
	</div>
	
	<div style="clear:both"></div>
	
	<div style="margin-left:5%;margin-right:10%;padding:20px;float:left">
		<p><font size="6"><strong>User List</strong></font></p>
		<div style="width:500px;height:400px;line-height:3em;overflow:auto;padding:5px;border: 1px solid black;;LINE-HEIGHT:20px"> 
		<ul >
		{{#each list}}
		<li>
				<strong>Account Name: </strong> {{name}}<br/>
				<div style="margin-left:20%">
					<strong>First Name:</strong> {{first}}<br/> 
					<strong>Last Name:</strong> {{last}}</br>
					<strong>Email:</strong> {{email}}<br/><br>
					
				</div>
			</li>
		{{/each}}

		</ul>
		</div>
		

	</div>
	


	<div style="clear:both"></div>
	
