



<div style="padding:50px">
<h1>{{title}}</h1>
<p>Account Management - {{name}}</p>

<p>Your information: </p>
<ul>
  <li>User Name: {{name}}</li>
  <li>First Name: {{first}}</li>
  <li>Last Name: {{last}}</li>
  <li>Email: {{email}}</li>
</ul>

<div>
<h2>Setting</h2>
<p style="color:red">{{message}}</p>
<div class="inlinebox">
<form method="post" action="/user/changepass">
  
  <h4>Change Password</h4>
  Old Password:  <br><input type="password" name="oldpass"><br>
  New Password:  <br><input type="password" name="newpass"><br>
  Confirm Password:  <br><input type="password" name="confirmpass"><br>
  <button>Save Changes</button>
  </form>
</div>
<div class="inlinebox">
<form method="post" action="/user/changefirstname">
  <h4>Change Name </h4>
  First Name:  <br><input type="text" name="name"><br>
  <button>Save Changes</button>
  </form>
  <form method="post" action="/user/changelastname">
  Last Name:  <br><input type="text" name="name"><br>
  <button>Save Changes</button>
  </form>
  </div>
<div class="inlinebox">
<form method="post" action="/user/changeemail">
  <h4>Chane E-mail </h4>
  New e-mail address:  <br><input type="text" name="email"><br>
  <button>Save Changes</button>
  </form>
</div>

<div class="inlinebox">
<form method="post" action="/user/addcard">
  <h4>Add a Credit/Debit Card </h4>
  Card number  <br><input type="text" name="cardnumber"><br>
  Name on card:  <br><input type="text" name="cardholder"><br>
  Expiration date(MM/YY):  <br><input type="text" name="exp"><br>
  Security Code:  <br><input type="text" name="sc"><br>
  <button>Add</button>
  </form>
  </div>
</div>
  <p style="clear:left;padding-top:150px">Links: </p>
  <p><a href="http://www.amazon.com/" target="_blank">Amazon</a></p>
  <p><a href="http://www.ebay.com/" target="_blank">ebay</a></p>
  <p><a href="http://www.newegg.com/" target="_blank">newegg</a></p>

  <p>Charity Programs: </p>
  <p><a href="http://www.unicef.org/" target="_blank">Unicef</a></p>
  <p><a href="http://www.savethechildren.org/site/c.8rKLIXMGIpI4E/b.6115947/k.B143/Official_USA_Site.htm" target="_blank">Save the Children</a></p>
  <p><a href="http://www.redcross.org/" target="_blank">American Red Cross</a></p>
  <p><a href="https://www.stjude.org/" target="_blank">St. Jude Children's Research Hospital</a></p>


</div>
<style>
.inlinebox{
  float:left;
  width: 200px;
  height: 100px;
  margin: 20px;
}
</style>